@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  background: #1e293b;
} */

/* 1 */
body {
  background: #352f44;
}

/* 2 */
/* body {
  background: #5c5470;
} */

/* 3 */
/* body {
  background: #B9B4C7;
} */
